.counterWrapper{
    margin: 0 auto;
    background-color: skyblue;
    width: 400px;
    height: 400px;
    .valueBlock{

        .value{

        }
    }
    .messageText{

    }
    .buttonBlock{

    }
}

